#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.error {
  animation: fadeInOut 3s linear;
}


.App {
display: flex;
background: #100E1D;
width: 1470px;
height: 1023px;
flex-shrink: 0;
}

.Current {
  width: 459px;
  height: 1023px;
  flex-shrink: 0;
}

.cards {
  display: flex;
  flex-direction: column;
 background: #100E1D;
 
  
}

.weathercards {
  margin-top: 148px;
  margin-bottom: 100px;
  margin-left: 154px;
  width: 655px;
  height: 177px;
  flex-shrink: 0;
}

.detailsweather {
  width: 656px;
  margin-top: 50px;
  margin-left: 154px;
}

.weathercards {
color: #E7E7EB;

}

.list {
  list-style: none;
  color: #E7E7EB;
font-family: Raleway;
font-size: 50px;
font-style: normal;
font-weight: 500;

  
}

.list li {
line-height: 70px;
cursor: pointer;
display:in;

}

.units {
  color: #A09FB1;
font-family: Raleway;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.form {
  color: white;
}

